{% block body %}
<h2>Grouped by Nodegroup (Cards)</h2>

<!-- KO context fix -->
<!-- ko with: $component -->

    <!-- ko foreach: nodegroups -->
        <div class="rp-nodegroup">
            <h3>
                Nodegroup:
                <span data-bind="text: nodegroup_id"></span>
            </h3>

            <!-- ko foreach: tiles -->
                <div class="rp-tile">
                    <p>
                        <strong>Tile:</strong>
                        <span data-bind="text: tileid"></span>
                    </p>

                    <ul data-bind="foreach: nodes">
                        <li>
                            <strong data-bind="text: nodename"></strong>
                            (<span data-bind="text: datatype"></span>)
                            :
                            <span data-bind="text: label"></span>
                        </li>
                    </ul>
                </div>
            <!-- /ko -->
        </div>
    <!-- /ko -->

<!-- /ko -->
{% endblock body %}