{% block body %}
<h2>Simple Report Test</h2>
<p>Report Name: <span data-bind="text: report.get('name')"></span></p>
<p>Report Date: <span data-bind="text: reportDate"></span></p>

<!-- Tiles foreach -->
<!-- ko foreach: tiles -->
    <div class="rp-tile">
        <p>Tile ID: <span data-bind="text: tileid"></span></p>
        <p>Nodegroup ID: <span data-bind="text: nodegroup_id"></span></p>
        <p>Resource Instance ID: <span data-bind="text: resourceinstance_id"></span></p>

        <!-- Nodes foreach -->
        <!-- ko foreach: nodes -->
            <div class="rp-tile-node">
                <strong data-bind="text: nodename + ' (' + datatype + ')'"></strong>:
                <span data-bind="text: label"></span>
            </div>
        <!-- /ko -->
    </div>
<!-- /ko -->
{% endblock body %}